<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html;charset=UTF-8'>
  </head>
  <body>
    <h1>
      <%= action %> Name
    </h1>

    <form action='<%= post_to %>' method='post' accept-charset='UTF-8'>

      <div class='field'>
        <label for='book_isbn'>Isbn</label><br />
        <input name='isbn' id='book_isbn' size='30' type='text' value='<%= book.isbn %>' />
      </div>
      <div class='field'>
        <label for='book_title'>Title</label><br />
        <input name='title' id='book_title' size='30' type='text' value='<%= book.title %>' />
      </div>
      <div class='field'>
        <label for='book_price'>Price</label><br />
        <input name='price' id='book_price' type='number' value='<%= book.price %>' />
      </div>
      <div class='field'>
        <label for='book_publish'>Publish</label><br />
        <input name='publish' id='book_publish' size='30' type='text' value='<%= book.publish %>' /> 
      </div>
      <div class='field'>
        <label for='book_published'>Published</label><br />

        <% ymd = book.published.to_s.split("-") %>
        <% book_year = ymd[0] %>
        <% book_month = ymd[1] %>
        <% book_day = ymd[2] %>

        <select id='book_published_1i' name='year' value='<%= book_year %>'>

          <% (2008..2018).each do |year| %>
            <% year = year.to_s %>
            <% if year==book_year then %>
              <option selected='selected' value='<%= year %>'><%= year %>
              </option>
            <% else %>
              <option value='<%= year %>'><%= year %>
              </option>
            <% end %>
          <% end %>

        </select>
        <% months = {
             "1"=> "January",
             "2"=> "February",
             "3"=> "March",
             "4"=> "April",
             "5"=> "May",
             "6"=> "June",
             "7"=> "July",
             "8"=> "August",
             "9"=> "September",
             "10"=> "October",
             "11"=> "November",
             "12"=> "December"
           } 
        %>

        <select id='book_published_2i' name='month'>

          <% (1..12).each do |month| %>
            <% month = month.to_s %>
            <% if "0"+month==book_month || month==book_month %>
              <option selected='selected' value='<%= month %>'><%= months[month] %>
              </option> 
            <% else %>
              <option value='<%= month %>'><%= months[month] %>
              </option>
            <% end %>
          <% end %>
  
        </select>
        <select id='book_published_3i' name='day'>

          <% (1..31).each do |day| %>
            <% if day < 10 %>
              <% day = "0" + day.to_s %>
            <% else %>
              <% day = day.to_s %>
            <% end %>

            <% if day==book_day then %>
              <option selected='selected' value='<%= day %>'><%= day %>
              </option>
            <% else %>
              <option value='<%= day %>'><%= day %>
              </option>
            <% end %>
          <% end %>

        </select>

      </div>
      <div class='field'>
        <label for='book_cd'>CD</label><br />
        <input name='cd' type='hidden' value='false' />
        <input id='book_cd' name='cd' type='checkbox' value='true' <%= check_button_default(book.cd) %> />
      </div>
      <input name='submit' type='submit' value='<%= button_value + ' Book' %>' />
      <input type='hidden' name='old_isbn' value='<%= book.isbn %>' />
    </form>

    <a href='/books'>Back</a>

  </body>
</html>

