<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html;charset=UTF-8'>
    <title>Listing Books</title>
    <script type='text/JavaScript'>
      <!--
        function destroy_check() {
          if(!window.confirm('Are you sure?')) {
            return false;
            } else {
              return true;
            }
          }
        //-->
    </script>
  </head>

  <body>
    <h1>Listing Books</h1>
    <table>
      <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Price</th>
        <th>Publish</th>
        <th>Published</th>
        <th>CD</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% books.each do |book| %>
        <tr>
          <td><%= book.isbn %></td>
          <td><%= book.title %></td>
          <td><%= book.price %></td>
          <td><%= book.publish %></td>
          <td><%= book.published %></td>
          <td><%= book.cd %></td>
          <td><a href='/books/<%= book.isbn %>'>Show</a></td>
          <td><a href='/books/<%= book.isbn %>/edit'>Edit</a></td>
          <td><form action='/books/<%= book.isbn %>' method='post' accept-charset='UTF-8' />
                <input type='submit' name='destroy' value='destroy' onClick='return destroy_check()' />
                <input type='hidden' name='isbn' value='<%= book.isbn %>' />
                <input type='hidden' name='_method' value='delete' />
              </form>
          </td>
        </tr>
      <% end %>
    </table><br />
    <a href = '/books/new'>New Book</a>
  </body>
</html>
