<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html;charset=UTF-8'>
    <title>Book Profile</title>
  </head>
  <body>
    <p>
      <b>Isbn:</b>
      <%= book.isbn %>
    </p>
    <p>
      <b>Title:</b>
      <%= book.title %>
    </p>
    <p>
      <b>Price:</b>
      <%= book.price %>
    </p>
    <p>
      <b>Publish:</b>
      <%= book.publish %>
    </p>
    <p>
      <b>Published:</b>
      <%= book.published %>
    </p>
    <p>
      <b>Cd:</b>
      <%= book.cd %>
    </p>

    <a href='/books/<%= book.isbn %>/edit'>Edit</a>
    <a href='/books'>Back</a>
  </body>
</html>
