<html lang="ja-JP">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text">
<title><%= @title %></title>
</head>

<body>
<div class="main">

<h1><%= @title %></h1>

<div class="header-menus">
<a href="index.html">Latest</a>
<a href="archives.heml">Archive</a>
<a href="about.html">About</a>
</div>